In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Load dataset automobile_data.csv file
df=pd.read_csv("automobile_data.csv")

In [3]:
#To display first 5 records
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
#First check null values
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [6]:
c=0
for i,data in enumerate(df['normalized-losses']):
    if not data.isnumeric():
        c=c+1
        print(i," " ,data)
print("No. of special chars : ",c)

0   ?
1   ?
2   ?
5   ?
7   ?
9   ?
14   ?
15   ?
16   ?
17   ?
43   ?
44   ?
45   ?
46   ?
48   ?
49   ?
63   ?
66   ?
71   ?
73   ?
74   ?
75   ?
82   ?
83   ?
84   ?
109   ?
110   ?
113   ?
114   ?
124   ?
126   ?
127   ?
128   ?
129   ?
130   ?
131   ?
181   ?
189   ?
191   ?
192   ?
193   ?
No. of special chars :  41

In [7]:
#Replace '?' of normalised-losses with null values permanent
df["normalized-losses"].replace("?",np.nan,inplace=True)
#syntaX: replace("old value","new value",inplace=True)

In [8]:
#To check null values
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [9]:
#To change the datatype of normalized-losses from object to float
#permanent : use inbuilt method astype()
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [10]:
#Fill null values with average/mean of normalized-losses column in 
#normalized-losses column permanent
m=df["normalized-losses"].mean()
df["normalized-losses"].fillna(m,inplace=True)

In [11]:
c=0
for i,data in enumerate(df['horsepower']):
    if not data.isnumeric():
        c=c+1
        print(i," " ,data)
print("No. of special chars : ",c)

130   ?
131   ?
No. of special chars :  2

In [12]:
#Replace '?' of horsepower with null values permanent
df["horsepower"].replace("?",np.nan,inplace=True)

In [13]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [14]:
#To change the datatype of horsepower   from object to float
#permanent : use inbuilt method astype()
df["horsepower"]=df["horsepower"].astype("float")

In [15]:
#Fill null values with average/mean of horsepower column in 
#horsepower column permanent
m=df["horsepower"].mean()
df["horsepower"].fillna(m,inplace=True)

In [16]:
#again check null values in given dataset
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [17]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [18]:
#separate numerical type column and object type column and store in new dataset
df_num=df.select_dtypes(["int64","float64"])#hold to int and float type data 
df_cat=df.select_dtypes(object)#hold object type data

In [19]:
df_num.dtypes

symboling              int64
normalized-losses    float64
width                float64
height               float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [20]:
df_cat.dtypes

make               object
fuel-type          object
body-style         object
drive-wheels       object
engine-location    object
engine-type        object
dtype: object

In [21]:
#change the object type data into numerical type then use LabelEncoder class
from sklearn.preprocessing import LabelEncoder

In [22]:
for col in df_cat :
    le=LabelEncoder() #create the object of LabelEncoder class
    df_cat[col]=le.fit_transform(df_cat[col])

In [23]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [24]:
#concatenation of both dataset df_num and df_cat and hold new dataset df_new
df_new=pd.concat([df_num,df_cat],axis=1) #axis=1 column wise
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [25]:
df_new.dtypes

symboling              int64
normalized-losses    float64
width                float64
height               float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
make                   int32
fuel-type              int32
body-style             int32
drive-wheels           int32
engine-location        int32
engine-type            int32
dtype: object

In [26]:
df_new.shape

(205, 15)

In [27]:
#performing the model with the help of linear regression
#we want to predict the car's price which are contineous numeric value
#apply multiple linear regression because many input means many independent
#variables or features and one target

In [28]:
#Select input and output from dataset df_new
X=df_new.drop("price",axis=1) #input
Y=df_new['price'] #output

In [29]:
type(Y)

pandas.core.series.Series

In [30]:
type(X)

pandas.core.frame.DataFrame

In [31]:
X.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,1,1,3,0,0,3

In [32]:
Y.head()

0    13495
1    16500
2    16500
3    13950
4    17450
Name: price, dtype: int64

In [33]:
#Train_test_split
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [35]:
#give training data to m/c learning algo .(LinearRegression)
from sklearn.linear_model import LinearRegression

In [36]:
#Create the object of LinearRegression class
lr=LinearRegression()

In [37]:
#Train the model with 70% data
lr.fit(X_train,Y_train)

LinearRegression()

In [38]:
#Check training score
lr.score(X_train,Y_train)

0.8504573774895474

In [39]:
#test the model
#find Y_pred
Y_pred=lr.predict(X_test)

In [40]:
#check testing score
lr.score(X_test,Y_test)

0.7965566780397376

In [41]:
#here Training score > testing score means testing error > training error
#means model is overfitting so remove overfitting situation then 
#add external error on training time means apply regularization

In [42]:
#check coefficient /slope of each input : inbuilt method of coef_ of Linear
#regression class before apply regularisation
slope_before=lr.coef_
#print(slope_before)
m1=[np.round(m,2) for m in slope_before] #list comprehension
print(m1)

[45.14, 1.53, 789.45, 362.66, 98.37, -10.82, 308.02, -417.02, -200.1, -622.65, -170.24, 1868.61, 16413.36, 283.17]

In [43]:
X_train.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [44]:
#check intercept before apply regularisation
lr.intercept_

-65022.76985995669

In [45]:
#here model is overfit because training score>testing score
#How do we take care of overfitting means to reduced overfitting situation 
#then use Regularisation : -  
#There are 2 types of Regularisation
#use L1 : Lasso and L2 : Ridge  regularization

In [46]:
''' Add some error during training time 
   1. Lasso Regularization : L1  
   RSS+lambda*sum(abs(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 200,400,600,..1000
   2. Ridge Regularization : L2
   RSS+lambda*sum(square(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 0 to 50
    '''

' Add some error during training time \n   1. Lasso Regularization : L1  \n   RSS+lambda*sum(abs(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 200,400,600,..1000\n   2. Ridge Regularization : L2\n   RSS+lambda*sum(square(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 0 to 50\n    '

In [47]:
#Lasso Regualrization means L1 call inbuilt class Lasso
from sklearn.linear_model import Lasso

In [48]:
#create the object of class Lasso
l1=Lasso(1000) #RSS+1000*sum(abs(all features))
 #passing the value of lambda or alpha(both are hyperparameter)
    #which are 200...1000 during create the object of class Lasso
    #why take value of lambda=1000 ? explain later

In [49]:
#train the model with Lasso
l1.fit(X_train,Y_train)

Lasso(alpha=1000)

In [50]:
#check score of training 
l1.score(X_train,Y_train)

0.7571378367701931

In [51]:
#check score of testing
l1.score(X_test,Y_test)

0.7909522259248711

In [52]:
#Select right value of lambda/alpha  for lasso
for i in range(200,1001,50) : #start=200 stop=1001-1=1000 step=+50
    #create the object of Lasso
    l1=Lasso(i) #first time i=200 ,next time 250
    #train the model witj Lasso
    l1.fit(X_train,Y_train)
    #check training score
    S1=l1.score(X_train,Y_train)
    #check testing score
    S2=l1.score(X_test,Y_test)
    print("\nValue of Lambda : {}".format(i))
    print("Training score : {} and Testing Score : {}".format(S1,S2))

Value of Lambda : 200
Training score : 0.7987416970006662 and Testing Score : 0.8139201358023781

Value of Lambda : 250
Training score : 0.7813830614755177 and Testing Score : 0.8124219090780231

Value of Lambda : 300
Training score : 0.7770052434923614 and Testing Score : 0.8085057299003379

Value of Lambda : 350
Training score : 0.7718310001161615 and Testing Score : 0.8036053753129061

Value of Lambda : 400
Training score : 0.7658616845894823 and Testing Score : 0.7977229768452248

Value of Lambda : 450
Training score : 0.7629172866915856 and Testing Score : 0.7950465607641612

Value of Lambda : 500
Training score : 0.7623627856030828 and Testing Score : 0.7946028204251038

Value of Lambda : 550
Training score : 0.7619482216545304 and Testing Score : 0.7942485978551437

Value of Lambda : 600
Training score : 0.7614935673272373 and Testing Score : 0.7938656404830355

Value of Lambda : 650
Training score : 0.7609979977249848 and Testing Score : 0.7934536226456452

Value of Lambda : 700
Training score : 0.7604640291241571 and Testing Score : 0.7930208714948073

Value of Lambda : 750
Training score : 0.7598908737085027 and Testing Score : 0.792563723506569

Value of Lambda : 800
Training score : 0.7592781949938978 and Testing Score : 0.7920812896372944

Value of Lambda : 850
Training score : 0.7586255604359616 and Testing Score : 0.7915726589657284

Value of Lambda : 900
Training score : 0.7579499521293308 and Testing Score : 0.7910703319438239

Value of Lambda : 950
Training score : 0.7575545480051227 and Testing Score : 0.7910205756985365

Value of Lambda : 1000
Training score : 0.7571378367701931 and Testing Score : 0.7909522259248711

In [53]:
#clear right value of lambda in this dataset in case of lasso=200
#testing score=0.81  and training score =0.79

In [54]:
#check slope after apply Lasso Regularisation
after_slope=l1.coef_
#print(after_slope)
m2=[np.round(m,2) for m in after_slope] #list comprehension
print(m2)

[0.0, 3.96, 0.0, 276.93, 135.34, 16.0, -0.0, -113.03, -126.41, -0.0, -0.0, 0.0, 0.0, 0.0]

In [55]:
#before apply Lasso
print(m1)

[45.14, 1.53, 789.45, 362.66, 98.37, -10.82, 308.02, -417.02, -200.1, -622.65, -170.24, 1868.61, 16413.36, 283.17]

In [56]:
X.columns #input features

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [57]:
#create a dataframe
dic={'Inputs':X.columns,'Slope Before apply Lasso':m1,
    'Slope After apply Lasso':m2}
df1=pd.DataFrame(dic)
df1

               Inputs  Slope Before apply Lasso  Slope After apply Lasso
0           symboling                     45.14                     0.00
1   normalized-losses                      1.53                     3.96
2               width                    789.45                     0.00
3              height                    362.66                   276.93
4         engine-size                     98.37                   135.34
5          horsepower                    -10.82                    16.00
6            city-mpg                    308.02                    -0.00
7         highway-mpg                   -417.02                  -113.03
8                make                   -200.10                  -126.41
9           fuel-type                   -622.65                    -0.00
10         body-style                   -170.24                    -0.00
11       drive-wheels                   1868.61                     0.00
12    engine-location                  16413.36                     0.00
13        engine-type                    283.17                     0.00

In [ ]:
#Right value of Lambda =200 in case of Lasso 
#then score=0.81

In [58]:
#Ridge Regularisation : -
#Ridge Regualrization means L2 call inbuilt class Ridge
from sklearn.linear_model import Ridge

In [ ]:
#in case of Ridge Regularisation , value of lambda/alpha=0 to 50
#formula = RSS Error+lambda*sum(all slope)**2

In [59]:
for i in range(0,51,1) : #start=0 stop=51-1=50 step=+1
    #create the object of Lasso
    l2=Ridge(i) #first time i=0 ,next time 1
    #train the model with Ridge
    l2.fit(X_train,Y_train)
    #check training score
    S1=l2.score(X_train,Y_train)
    #check testing score
    S2=l2.score(X_test,Y_test)
    print("\nValue of Lambda : {}".format(i))
    print("Training score : {} and Testing Score : {}".format(S1,S2))

Value of Lambda : 0
Training score : 0.8504573774895473 and Testing Score : 0.7965566780397382

Value of Lambda : 1
Training score : 0.8436019887231634 and Testing Score : 0.8074518758147275

Value of Lambda : 2
Training score : 0.8356568294333326 and Testing Score : 0.8110292248150515

Value of Lambda : 3
Training score : 0.829596685378384 and Testing Score : 0.8126933383890034

Value of Lambda : 4
Training score : 0.8250050456621351 and Testing Score : 0.8136148645029299

Value of Lambda : 5
Training score : 0.8214255248858175 and Testing Score : 0.814174585353942

Value of Lambda : 6
Training score : 0.818549790564273 and Testing Score : 0.8145301242133355

Value of Lambda : 7
Training score : 0.8161775446879698 and Testing Score : 0.8147582608502814

Value of Lambda : 8
Training score : 0.8141763553347594 and Testing Score : 0.8149010602831952

Value of Lambda : 9
Training score : 0.8124561449821563 and Testing Score : 0.8149836949253053

Value of Lambda : 10
Training score : 0.8109538582620313 and Testing Score : 0.815022286737653

Value of Lambda : 11
Training score : 0.8096241695970485 and Testing Score : 0.815027724543179

Value of Lambda : 12
Training score : 0.8084337140523126 and Testing Score : 0.8150076788279417

Value of Lambda : 13
Training score : 0.807357406111595 and Testing Score : 0.8149677381788261

Value of Lambda : 14
Training score : 0.8063760269401784 and Testing Score : 0.8149120868051172

Value of Lambda : 15
Training score : 0.8054746030665227 and Testing Score : 0.8148439278252522

Value of Lambda : 16
Training score : 0.8046412917341841 and Testing Score : 0.8147657584947388

Value of Lambda : 17
Training score : 0.8038665985400392 and Testing Score : 0.8146795554128125

Value of Lambda : 18
Training score : 0.8031428178838969 and Testing Score : 0.8145869029046833

Value of Lambda : 19
Training score : 0.8024636258876571 and Testing Score : 0.8144890843369585

Value of Lambda : 20
Training score : 0.8018237796035677 and Testing Score : 0.8143871485445551

Value of Lambda : 21
Training score : 0.8012188915864452 and Testing Score : 0.8142819591129824

Value of Lambda : 22
Training score : 0.8006452587395114 and Testing Score : 0.8141742315788494

Value of Lambda : 23
Training score : 0.8000997308073307 and Testing Score : 0.8140645619421536

Value of Lambda : 24
Training score : 0.7995796082141255 and Testing Score : 0.8139534488166059

Value of Lambda : 25
Training score : 0.7990825618875557 and Testing Score : 0.8138413108452038

Value of Lambda : 26
Training score : 0.7986065697399167 and Testing Score : 0.8137285005403769

Value of Lambda : 27
Training score : 0.7981498659021866 and Testing Score : 0.8136153153884842

Value of Lambda : 28
Training score : 0.7977108998167778 and Testing Score : 0.8135020068362637

Value of Lambda : 29
Training score : 0.7972883030209656 and Testing Score : 0.8133887876197212

Value of Lambda : 30
Training score : 0.7968808619807589 and Testing Score : 0.8132758377831447

Value of Lambda : 31
Training score : 0.7964874957227428 and Testing Score : 0.813163309653795

Value of Lambda : 32
Training score : 0.7961072372991724 and Testing Score : 0.8130513319772293

Value of Lambda : 33
Training score : 0.7957392183371695 and Testing Score : 0.8129400133729974

Value of Lambda : 34
Training score : 0.7953826560857553 and Testing Score : 0.8128294452363017

Value of Lambda : 35
Training score : 0.7950368424986249 and Testing Score : 0.8127197041851855

Value of Lambda : 36
Training score : 0.7947011349858958 and Testing Score : 0.8126108541327798

Value of Lambda : 37
Training score : 0.7943749485418696 and Testing Score : 0.8125029480485761

Value of Lambda : 38
Training score : 0.7940577490133228 and Testing Score : 0.8123960294605082

Value of Lambda : 39
Training score : 0.7937490473179627 and Testing Score : 0.8122901337400302

Value of Lambda : 40
Training score : 0.7934483944582852 and Testing Score : 0.8121852892047274

Value of Lambda : 41
Training score : 0.7931553772043529 and Testing Score : 0.812081518066906

Value of Lambda : 42
Training score : 0.7928696143416054 and Testing Score : 0.8119788372516912

Value of Lambda : 43
Training score : 0.7925907533979552 and Testing Score : 0.8118772591041921

Value of Lambda : 44
Training score : 0.792318467779072 and Testing Score : 0.8117767920020493

Value of Lambda : 45
Training score : 0.7920524542526479 and Testing Score : 0.8116774408870527

Value of Lambda : 46
Training score : 0.7917924307321205 and Testing Score : 0.8115792077273271

Value of Lambda : 47
Training score : 0.7915381343182769 and Testing Score : 0.8114820919198035

Value of Lambda : 48
Training score : 0.7912893195636813 and Testing Score : 0.8113860906412017

Value of Lambda : 49
Training score : 0.7910457569302702 and Testing Score : 0.8112911991545091

Value of Lambda : 50
Training score : 0.7908072314149309 and Testing Score : 0.811197411076921

In [62]:
#check slope after apply Ridge Regularisation
after_slope=l2.coef_
#print(after_slope)
m2=[np.round(m,2) for m in after_slope] #list comprehension
print(m2)

[166.16, 2.51, 309.36, 525.52, 113.31, 23.98, 161.64, -225.45, -172.76, -365.68, -479.84, 777.91, 622.92, 380.57]

In [64]:
#create a dataframe
dic={'Inputs':X.columns,'Slope Before apply Ridge':m1,
    'Slope After apply Ridge':m2}
df1=pd.DataFrame(dic)
df1

               Inputs  Slope Before apply Ridge  Slope After apply Ridge
0           symboling                     45.14                   166.16
1   normalized-losses                      1.53                     2.51
2               width                    789.45                   309.36
3              height                    362.66                   525.52
4         engine-size                     98.37                   113.31
5          horsepower                    -10.82                    23.98
6            city-mpg                    308.02                   161.64
7         highway-mpg                   -417.02                  -225.45
8                make                   -200.10                  -172.76
9           fuel-type                   -622.65                  -365.68
10         body-style                   -170.24                  -479.84
11       drive-wheels                   1868.61                   777.91
12    engine-location                  16413.36                   622.92
13        engine-type                    283.17                   380.57

In [ ]:
#right value of lambda =2 , score =0.81 in ridge
#right value of lambda=200 , score=0.81 in Lasso

In [66]:
#Apply Cross Validation  why? 
#select Either Lasso is best or Ridge is best for this dataset
#because score are same in both regularisation
from sklearn.model_selection import cross_val_score
#cross_val_score  inbuilt class

In [67]:
#Create the object of  Lasso class and pass value of alpha or lambda =200
l1=Lasso(200)

In [68]:
#create object of cross_val_score and pass object of lasso and input and output
#and also pass no. of parts of data
cross_l1=cross_val_score(l1,X,Y,cv=4) #Note minimum cv=4 or more
#here l1 object of Lasso and 
#X input and Y output and cv means divided the no. of parts of data=4

In [69]:
#check score of each iterations
cross_l1

array([0.76560829, 0.81872367, 0.43344753, 0.448364  ])

In [71]:
#find the average score for cross validation in Lasso
m=cross_l1.mean()
print("Mean/average score for cross validation in Lasso : ",m)

Mean/average score for cross validation in Lasso :  0.6165358705430697

In [72]:
#Create the object of  Ridge class and pass value of alpha or lambda =2
l2=Ridge(2)

In [77]:
#create the object of cross_val_score class(for cross validation)
#first apply for Lasso
l2_cross=cross_val_score(l2,X,Y,cv=4) #here l2 object of Ridge and 
#X input and Y output cv means divided the no. of parts of data=4

In [78]:
l2_cross

array([0.71176474, 0.86474228, 0.37640664, 0.47020196])

In [79]:
#find the average score for cross validation in Ridge
m=l2_cross.mean()
print("Mean/average score for cross validation in Ridge : ",m)

Mean/average score for cross validation in Ridge :  0.6057789059244743

In [ ]:
#Mean of Lasso is greater than Ridge so Select Lasso Regularization
#in this dataset
#mean of lasso regularization : 0.61
#mean of Ridge regularization : 0.60
#in this dataset automobile_data.csv, Lasso regularisation is best as 
#compared to Ridge regularisation because average means mean of  of  score
#of lasso is greater than ridge regularisation

In [81]:
#Find r2-score (testing score)
from sklearn.metrics import r2_score

In [82]:
r2_score(Y_test,Y_pred)

0.7965566780397376