In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#to load the dataset
df=pd.read_csv("salary1.csv")
df.head()

,Unnamed: 0,age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [3]:
#to drop unwanted columns permanently from given dataset
df.drop("Unnamed: 0",axis=1,inplace=True)

In [4]:
df.head()

,age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [5]:
df.dtypes

age                int64
Workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
Income             int64
dtype: object

In [6]:
df['Income'].value_counts()

Income
0    778
1    254
Name: count, dtype: int64

In [7]:
#package imblearn : first time install this package 
#!pip install imblearn

In [8]:
import os
os.getcwd()

'C:\\Users\\Lenovo'

In [9]:
df.isnull().sum()

age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [10]:
#separate int64 and object type column 
df_cat=df.select_dtypes("object")
df_num=df.select_dtypes("int64")

In [11]:
df_cat.dtypes

Workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
native-country    object
dtype: object

In [12]:
#Apply LabelEncoder for df_cat means all categorial type data
from sklearn.preprocessing import LabelEncoder
for col in df_cat:
    #print(col)
    #first create a object of LabelEncoder class
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[[col]])

In [13]:
df_cat.dtypes

Workclass         int32
education         int32
marital-status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
native-country    int32
dtype: object

In [14]:
#concatenate df_num and df_cat and hold in new dataframe df_new
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Income,Workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,39,77516,13,2174,0,40,0,5,9,4,0,1,4,1,28
1,50,83311,13,0,0,13,0,4,9,2,3,0,4,1,28
2,38,215646,9,0,0,40,0,2,11,0,5,1,4,1,28
3,53,234721,7,0,0,40,0,2,1,2,5,0,2,1,28
4,28,338409,13,0,0,40,0,2,9,2,9,5,2,0,4

In [15]:
df_new.dtypes

age               int64
fnlwgt            int64
education-num     int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
Income            int64
Workclass         int32
education         int32
marital-status    int32
occupation        int32
relationship      int32
race              int32
sex               int32
native-country    int32
dtype: object

In [16]:
#Select input and output
X=df_new.drop("Income",axis=1) #select input
Y=df_new['Income'] #select output

In [17]:
df_new.shape

(1032, 15)

In [18]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,
                                              random_state=1)

In [19]:
#apply scalling on x_train and a_test
from sklearn.preprocessing import StandardScaler
#create object of StandardScaler class
ss=StandardScaler()
X_train=ss.fit_transform(X_train) #concvert into numpy array 
X_test=ss.transform(X_test)  #also convert into numpoy array

In [20]:
X_train.shape,Y_train.shape

((722, 14), (722,))

In [21]:
#first check Y_train (0 and 1) : how many sample of 0's and 1's 
Y_train.value_counts()

Income
0    540
1    182
Name: count, dtype: int64

In [22]:
#clearly understand , data is unbalance 
#Now we have to balance to given dataset means Y_train
#use RandomOverSampler means to converts minority class into majority class
#means increase means make a duplicates copy of some records ramdomly 
#and force minority class converts to majority class

In [23]:
from imblearn.over_sampling import RandomOverSampler 
#RandomOverSampler  inbuilt class which define in outer class over_sampling
#and over_sampling class define in inbuilt package imblearn

ImportError: cannot import name '_MissingValues' from 'sklearn.utils._param_validation' (C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py)

In [ ]:
#create the object of class RandomOverSampler 
ros=RandomOverSampler(random_state=1)
X_train1,Y_train1=ros.fit_resample(X_train,Y_train)
#fit_resample() inbuilt method of RandomOverSampler class

In [ ]:
X_train1.shape,Y_train1.shape

In [ ]:
Y_train1.value_counts()

In [ ]:
#check testing data 
X_test.shape,Y_test.shape

In [ ]:
Y_test.value_counts()

In [ ]:
#Apply RandomOverSampler on testing data
X_test1,Y_test1=ros.fit_resample(X_test,Y_test)

In [ ]:
#check
Y_test1.value_counts()

In [ ]:
#create a user defined function
def create_model(model):
    model.fit(X_train1,Y_train1)#we train the model
    Y_pred=model.predict(X_test1) #test
    print(classification_report(Y_test1,Y_pred))
    print("Confusion Matrix : ")
    #Confusion matrix
    print(confusion_matrix(Y_test1,Y_pred))
    return model

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
#Base Line Model means use Logistic Regression(we predict yes/no values then 
#use classification algorithm)
from sklearn.linear_model import LogisticRegression

In [ ]:
#create object of LogisticRegression class
lr=LogisticRegression(random_state=1)

In [ ]:
#call function
lr=create_model(lr)